{% extends 'base.html.twig' %}

{% block title %}Garage V.Parrot
{% endblock %}

		{% block main %}
			<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{asset('images/caroussel1.png')}}" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="{{asset('images/caroussel2.png')}}" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="{{asset('images/caroussel3.png')}}" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Suivant</span>
				</button>
			</div>

			<div class="d-flex justify-content-between">
				<section class="services">

					<h2>Nos services</h2>
					<h4>Réparation de carrosserie</h4>
					<ul>
						<li>Intervention sur tous types de sinistres (accident, vandalisme, grêle, etc.)
						</li>
						<li>Remplacement de pièces endommagées (pare-chocs, ailes, portes, etc)
						</li>
						<li>Débosselage et peinture: techniques modernes pour un résultat impeccable.
						</li>
						<li>Rénovation de phares: pour une meilleure visibilité et sécurité.
						</li>
						<li>Lustrage de carrosserie: pour retrouver une brillance optimale.
						</li>
					</ul>
					<h4>Réparation mécanique</h4>
					<ul>
						<li>
							Révision et entretien courant (vidange, changement de filtres, contrôle des niveaux, etc.)
						</li>
						<li>
							Diagnostic et réparation de pannes: moteur, boîte de vitesses, freinage, etc.
						</li>
						<li>
							Intervention sur tous types de véhicules: voitures, utilitaires, camping-cars, etc.
						</li>
						<li>
							Utilisation de pièces détachées d'origine ou de qualité équivalente.
						</li>
						<li>
							Garantie sur les réparations effectuées.
						</li>
					</ul>
					<h4>Entretien régulier</h4>
					<ul>
						<li>
							Forfaits d'entretien adaptés à votre véhicule: kilométrage, type de conduite, etc.
						</li>
						<li>
							Vérification des points de sécurité: freins, pneus, amortisseurs, etc.
						</li>
						<li>
							Conseils personnalisés pour optimiser la performance et la longévité de votre véhicule.
						</li>
					</ul>
					<h4>Vente de véhicules d'occasion</h4>
					<ul>
						<li>
							Large choix de véhicules toutes marques et tous modèles.
						</li>
						<li>
							Véhicules contrôlés et garantis.
						</li>
						<li>
							Possibilité de financement et de reprise de votre ancien véhicule.
						</li>
						<li>
							Accompagnement personnalisé dans votre recherche d'un véhicule d'occasion.
						</li>
					</ul>
				</section>

				<section class="contact">
					<h2>Contactez-nous</h2>
					<p>
						Téléphone: +33 (0)1 23 45 67 89
						<br/>
						Email: contact@garagevparrot.fr
						<br/>
						<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d12098.651459932777!2d2.306223605127872!3d48.83566805306013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x47e67035753c96cb%3A0x1175833edc74f8a!2sGarage%20Parrot%2C%20Rue%20du%20Ch%C3%A2teau%2C%20Paris!3m2!1d48.8378253!2d2.3177953!5e0!3m2!1sfr!2sfr!4v1711462178225!5m2!1sfr!2sfr" width="600" height="450"></iframe>
					</p>

				</section>
			</div>

			<section class="comments"></section>

			<section class="plus">
				<h3>
					En plus de ces services, le Garage V. Parrot propose également :
				</h3>
				<ul>
					<li>
						Un service de dépannage 24/7: intervention rapide en cas de panne ou d'accident.
					</li>
					<li>
						Un service de prêt de véhicule: pour vous dépanner pendant la réparation de votre véhicule.
					</li>
					<li>
						Des devis gratuits: pour une estimation précise du coût des réparations ou de l'entretien.
					</li>
					<li>
						Le Garage V. Parrot est une entreprise familiale qui met l'accent sur la qualité de ses services et la satisfaction de ses clients.
					</li>
				</ul>

				<p>
					N'hésitez pas à contacter le Garage V. Parrot pour obtenir plus d'informations sur ses services ou pour prendre rendez-vous.
				</p>

				<h3>
					Informations complémentaires:
				</h3>

				<ul>
					<li>
						Le Garage V. Parrot est agréé par plusieurs compagnies d'assurance.
					</li>
					<li>
						Le garage est équipé de matériel moderne et performant.

					</li>
					<li>
						L'équipe du garage est composée de professionnels expérimentés et passionnés.
					</li>
					<li>
						Le garage s'engage à respecter les délais et les devis.
					</li>
				</ul>
			</section>
		{% endblock %}

