:root {
    --color-primary: #C70039;
    /*var(--color-primary)*/

    --color-primary-dark: hsl(343, 100%, 29%);
    /*var(--color-primary-dark)*/
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--color-primary);
    padding: 1em 0;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "width" 100;
}

.notype_list li {
    list-style-type: none;
    background-color: #ffffff;
}

ul li {
    list-style-type: circle;
    padding: 0 1em;
}

main {
    margin: 0;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
    background-color: #333333;
    color: white;
    padding: 1%;
}


.primary {
    color: var(--color-primary);
    border-color: var(--color-primary-dark);
    outline: none;
}

.primary:hover,
.primary:active {
    color: var(--color-primary-dark);
}

.btn:hover,
.btn:active {
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary);
    color: #ffffff;
}

header,
footer {
    text-align: center;
    padding: 0, 5%;
}

img {
    width: 100%;
}

p {
    padding: 1em 0;
}

.center {
    align-items: center;
}

.edits,
.profile,
.edits button {
    color: white;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

.edits button {
    display: flex;
    margin: 0;
}

fieldset {
    margin: 0;
    display: block;
}

.edits .nav-link {
    padding: 0.5em;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box {
    padding: 5px;
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px var(--color-primary) !important;
}

.send {
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.send:hover {
    color: #fff;
    background-color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}


.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: gold;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}