{% block footer %}
	<footer>
		<div>
			<h4>Horaires d'ouverture</h4>
			<ul class="notype_list">
				<li>Lundi: 9h00 - 18h00</li>
				<li>Mardi: : 9h00 - 18h00</li>
				<li>Mercredi: 9h00 - 18h00</li>
				<li>Jeudi: : 9h00 - 18h00</li>
				<li>Vendredi: : 9h00 - 18h00</li>
				<li>Samedi: 10h00 - 14h00</li>
				<li>Dimanche: Fermé</li>
				<li>Fermé les jours fériés</li>
			</ul>
		</div>
		<div class="center">Garage V. Parrot - Tous droits réservés</div>

	</footer>
{% endblock %}